@model CreateSubscribeDto

<div class="newsletter_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="newsletter_content">
                    <h2>Monsta'dan En Son Haberleri Alın!</h2>
                    <p>Yeni gelenlerden, promosyonlarımızdan, ilham veren stil önerilerimizden ve daha birçok yenilikten haberdar ol. </p>
                    <div class="subscribe_form">
                        <form class="mc-form footer-newsletter" method="post" asp-controller="Home" asp-action="CreateSubscribe">
                            <input type="email" autocomplete="off" asp-for="Email" placeholder="E-Posta Adresi Giriniz" />
                            <button type="submit">Abone Ol</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>