<div class="shipping_area shipping_two">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-shipping">
                    <div class="shipping_icone icone_1">
                    </div>
                    <div class="shipping_content">
                        <h3>Ücretsiz Kargo</h3>
                        <p>Tüm Siparişlerde Ücretsiz Kargo</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-shipping">
                    <div class="shipping_icone icone_2">
                    </div>
                    <div class="shipping_content">
                        <h3>Para İadesi</h3>
                        <p>14 Gün İçinde İade Garantisi</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-shipping">
                    <div class="shipping_icone icone_3">
                    </div>
                    <div class="shipping_content">
                        <h3>Müşteri İndirimi</h3>
                        <p>₺2000 Üzeri Her Siparişte İndirim</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-shipping">
                    <div class="shipping_icone icone_4">
                    </div>
                    <div class="shipping_content">
                        <h3>Çevrimiçi Destek</h3>
                        <p>24 Saat Çevrimiçi Destek</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>