@model CreateRegisterDto

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_AdminLayoutAuthentication.cshtml";
}

@section Styles {

}

<div class="container-lg">
    <div class="row justify-content-center align-items-center authentication authentication-basic h-100">
        <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-6 col-sm-8 col-12">
            <div class="my-5 d-flex justify-content-center">
                <img src="@Url.Content("~/assets/img/logo/logo-dark.png")" alt="logo" class="desktop-logo">
                <img src="@Url.Content("~/assets/img/logo/logo-light.png")" alt="logo" class="desktop-dark">
            </div>
            <div class="card custom-card">
                <div class="card-body p-5">
                    <p class="h5 fw-semibold mb-2 text-center">Kayıt Ol</p>
                    <p class="mb-4 text-muted op-7 fw-normal text-center">Monsta Jewelry Yönetim Paneline Hoşgeldiniz</p>
                    <div class="row">
                        <form method="post">
                            <div class="d-md-flex align-items-start gap-3">
                                <div class="mb-3">
                                    <label for="signup-firstname" class="form-label text-default">Adı</label>
                                    <input type="text" class="form-control" id="name" asp-for="Name" placeholder="Adı" oninput="selectProfile()">
                                    <span class="text-danger" asp-validation-for="Name"></span>
                                </div>
                                <div class="mb-3">
                                    <label for="signup-lastname" class="form-label text-default">Soyadı</label>
                                    <input type="text" class="form-control" id="surname" asp-for="Surname" placeholder="Soyadı" oninput="selectProfile()">
                                    <span class="text-danger" asp-validation-for="Surname"></span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="signup-lastname" class="form-label text-default">Kullanıcı Adı</label>
                                <input type="text" class="form-control" id="username" asp-for="UserName" placeholder="Kullanıcı Adı">
                                <span class="text-danger" asp-validation-for="UserName"></span>
                            </div>
                            <div class="mb-3">
                                <label for="signup-lastname" class="form-label text-default">Mail Adresi</label>
                                <input type="text" class="form-control" id="mail" asp-for="Email" placeholder="Mail Adresi">
                                <span class="text-danger" asp-validation-for="Email"></span>
                            </div>
                            <div class="mb-3">
                                <label for="signup-password" class="form-label text-default">Şifre</label>
                                <div class="input-group">
                                    <input type="password" class="form-control" id="signup-password" asp-for="Password" placeholder="Şifre">
                                    <button class="btn btn-light" onclick="createpassword('signup-password',this)" type="button" id="button-addon2"><i class="ri-eye-off-line align-middle"></i></button>
                                </div>
                                <span class="text-danger" asp-validation-for="Password"></span>
                            </div>
                            <div class="mb-3">
                                <label for="signup-confirmpassword" class="form-label text-default">Şifre Tekrar</label>
                                <div class="input-group">
                                    <input type="password" class="form-control" id="signup-confirmpassword" asp-for="ConfirmPassword" placeholder="Şifre Tekrar">
                                    <button class="btn btn-light" onclick="createpassword('signup-confirmpassword',this)" type="button" id="button-addon21"><i class="ri-eye-off-line align-middle"></i></button>
                                </div>
                                <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                            </div>
                            <input id="txtImage" type="hidden" asp-for="Image" />
                            <div class="text-danger" asp-validation-summary="ModelOnly">
                            </div>
                            <div class="col-xl-12 d-grid mt-2">
                                <button type="submit" class="btn btn-primary">Hesap Oluştur</button>
                            </div>
                        </form>
                    </div>
                    <div class="text-center">
                        <p class="fs-12 text-muted mt-3">Giriş Yapmak İçin <a asp-controller="Login" asp-action="Index" asp-area="Administrator" class="text-primary">Tıklayınız</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="@Url.Content("~/assets-admin/js/show-password.js")"></script>

    <script>
        function selectProfile() {
            var name = document.getElementById("name").value;
            var surname = document.getElementById("surname").value;
            var FirstLetterName = name.charAt(0).toUpperCase();
            var FirstLetterSurname = surname.charAt(0).toUpperCase();
            var ImagePath = '/images/profile/' + FirstLetterName + FirstLetterSurname + '.png';
            document.getElementById("txtImage").value = ImagePath;
        }
    </script>
}

