@model List<ResultOrderByUserDto>

@{
    int count = 0;
}

<div class="tab-pane fade" id="orders">
    <h3>Orders</h3>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Sipariş Tarihi</th>
                    <th>Sipariş Durumu</th>
                    <th>Toplam Tutar</th>
                    <th>İşlemler</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    count++;
                    <tr>
                        <td>@count</td>
                        <td>@item.OrderDate</td>
                        @switch (item.Status)
                        {
                            case false:
                                <td><span class="text-warning">Devam Ediyor</span></td>
                                break;
                            case true:
                                <td><span class="text-success">Tamamlandı</span></td>
                                break;
                        }
                        <td>₺@item.TotalPrice</td>
                        <td><a href="#" class="view">Görüntüle</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
