<div class="slider_area home_slider_two owl-carousel">
    <div class="single_slider" data-bgimg="/assets/img/slider/slider3.webp">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="slider_content">
                        <p>Bu Haftaya Özel %10 İndirim</p>
                        <h1>Dennis Arrivals</h1>
                        <p class="slider_price"><span>₺2.199</span>'den başlayan fiyatlara</p>
                        <a class="button" href="#">Şimdi Satın Al</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single_slider" data-bgimg="/assets/img/slider/slider4.webp">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="slider_content">
                        <p>Bu Haftaya Özel %10 İndirim</p>
                        <h1>Fall Sale Of</h1>
                        <p class="slider_price"><span>₺2.199</span>'den başlayan fiyatlara</p>
                        <a class="button" href="#">Şimdi Satın Al</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>