<div class="tab-pane fade" id="address-details">
    <h3>Adres Düzenle</h3>
    <div class="login">
        <div class="login_form_container">
            <div class="account_login_form">
                <form action="#">
                    <div class="row">
                        <div class="col-lg-6 mb-20">
                            <label for="txt-name">Adınız</label>
                            <input type="text" id="txt-name" placeholder="Adınız">
                        </div>
                        <div class="col-lg-6 mb-20">
                            <label for="txt-surname">Soyadınız</label>
                            <input type="text" id="txt-surname" placeholder="Soyadınız">
                        </div>
                        <div class="col-12 mb-20">
                            <label for="txt-address-title">Adres Başlığı</label>
                            <input type="text" id="txt-address-title" placeholder="Adres Başlığı">
                        </div>
                        <div class="col-12 mb-20">
                            <label>Adres Detayı</label>
                            <input type="text" id="txt-detail-1" placeholder="Mahalle, Sokak, Semt">
                        </div>
                        <div class="col-12 mb-20">
                            <input type="text" id="txt-detail-2" placeholder="Apartman, Kapı Numarası">
                        </div>
                        <div class="col-lg-6 mb-20">
                            <label for="txt-city">Şehir</label>
                            <input type="text" id="txt-city" placeholder="Şehir">
                        </div>
                        <div class="col-lg-6 mb-20">
                            <label for="txt-district">İlçe</label>
                            <input type="text" id="txt-district" placeholder="İlçe">
                        </div>
                        <div class="col-12 mb-20">
                            <label for="txt-country">Ülke</label>
                            <input type="text" id="txt-country" placeholder="Ülke">
                        </div>
                        <div class="col-lg-6 mb-20">
                            <label for="txt-phone">Telefon Numarası</label>
                            <input type="text" id="txt-phone" placeholder="Telefon Numaranız">
                        </div>
                        <div class="col-lg-6 mb-20">
                            <label for="txt-mail">Mail Adresi</label>
                            <input type="text" id="txt-mail" placeholder="Mail Adresiniz">
                        </div>
                    </div>
                    <div class="save_button primary_btn default_button">
                        <a href="#">Kaydet</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>