@model List<ResultCategoryDto>

<div class="header_top">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="top_right text-left">
                    <ul>
                        <li class="language">
                            <a href="#"> Türkçe <i class="ion-chevron-down"></i></a>
                            <ul class="dropdown_language">
                                <li><a href="#">İngilizce</a></li>
                            </ul>
                        </li>
                        <li class="currency">
                            <a href="#">TRY <i class="ion-chevron-down"></i></a>
                            <ul class="dropdown_currency">
                                <li><a href="#" id="txt-usd-to-try"></a></li>
                                <li><a href="#" id="txt-eur-to-try"></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
            </div>
        </div>
    </div>
</div>

<div class="header_middel">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
            </div>
            <div class="col-lg-2 col-md-3 col-4">
                <div class="logo">
                    <a asp-controller="Home" asp-action="Index"><img src="/assets/img/logo/logo-dark.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-5 col-md-7 col-6">
                <div class="middel_right">
                    <div class="search_btn">
                        <a href="#"><i class="ion-ios-search-strong"></i></a>
                        <div class="dropdown_search">
                            <form action="#">
                                <input type="text" placeholder="Ürün Ara...">
                                <button type="button"><i class="ion-ios-search-strong"></i></button>
                            </form>
                        </div>
                    </div>
                    &nbsp;
                    <div class="box_setting">
                        <a href="#"><i class="ion-gear-b"></i></a>
                        <div class="dropdown_setting">
                            <ul>
                                <li><a asp-controller="Account" asp-action="Index">Hesabım </a></li>
                                <li><a asp-controller="Basket" asp-action="Index">Sepetim </a></li>
                                <li><a href="#">İstek Listem</a></li>
                                <li><a href="#">Çıkış Yap</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="cart_link">
                        <a asp-controller="Basket" asp-action="Index">
                            <i class="ion-android-cart"></i>₺<span class="cart_text_quantity"></span>@ViewBag.TotalPrice
                        </a>
                        <span class="cart_quantity">@ViewBag.BasketCount</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="header_bottom sticky-header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12">
                <div class="main_menu_inner">
                    <div class="logo_sticky">
                        <a asp-controller="Home" asp-action="Index"><img src="/assets/img/logo/logo-dark.png" alt=""></a>
                    </div>
                    <div class="main_menu">
                        <nav>
                            <ul>
                                <li class="active">
                                    <a asp-controller="Home" asp-action="Index">Ana Sayfa</a>
                                </li>
                                @foreach (var item in Model)
                                {
                                    <li>
                                        <a href="/Product/Index?id=@item.CategoryID">@item.CategoryName</a>
                                    </li>
                                }
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/lib/jquery/dist/jquery.min.js"></script>
<script src="/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var connection = new signalR.HubConnectionBuilder().withUrl("/apphub").build();

        connection.start().then(function () {
            InvokeCurrencyUSD();
            InvokeCurrencyEUR();
        }).catch(function (err) {
            return console.error(err.toString());
        });

        connection.on("ReceiveCurrencyUSD", function (value) {
            $("#txt-usd-to-try").text(`USD – ₺${value}`);
        });

        connection.on("ReceiveCurrencyEUR", function (value) {
            $("#txt-eur-to-try").text(`EUR – ₺${value}`);
        });

        function InvokeCurrencyUSD() {
            connection.invoke("SendCurrencyUSD").catch(function (err) {
                return console.error(err.toString());
            });
        }

        function InvokeCurrencyEUR() {
            connection.invoke("SendCurrencyEUR").catch(function (err) {
                return console.error(err.toString());
            });
        }
    });
</script>