<div class="tab-pane fade show active" id="dashboard">
    <h3>Dashboard </h3>
    <p>Hesap kontrol panelinizden kolayca <a href="#orders">son siparişlerinizi</a> görüntüleyebilir, <a href="#address">teslimat ve fatura adreslerinizi yönetebilir</a>, ayrıca <a href="#account-details">şifrenizi ve hesap ayrıntılarınızı düzenleyebilirsiniz.</a></p>
</div>