<div class="tab-pane fade show active" id="dashboard">
    <h3>Panelim</h3>
    <p>Hesap kontrol panelinizden kolayca <a href="#orders" data-bs-toggle="tab">son siparişlerinizi</a> görüntüleyebilir, <a href="#address" data-bs-toggle="tab">teslimat ve fatura adreslerinizi yönetebilir</a>, ayrıca <a href="#account-details" data-bs-toggle="tab">şifrenizi ve hesap ayrıntılarınızı düzenleyebilirsiniz.</a></p>
</div>