@model List<ResultCategoryDto>

<div class="Offcanvas_menu Offcanvas_two">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="canvas_open">
                    <a href="javascript:void(0)"><i class="ion-navicon"></i></a>
                </div>
                <div class="Offcanvas_menu_wrapper">
                    <div class="canvas_close">
                        <a href="javascript:void(0)"><i class="ion-android-close"></i></a>
                    </div>
                    <div class="welcome_text">
                    </div>
                    <div class="top_right text-right">
                        <ul>
                            <li class="language">
                                <a href="#"> Türkçe <i class="ion-chevron-down"></i></a>
                                <ul class="dropdown_language">
                                    <li><a href="#">İngilizce</a></li>
                                </ul>
                            </li>
                            <li class="currency">
                                <a href="#">TRY <i class="ion-chevron-down"></i></a>
                                <ul class="dropdown_currency">
                                    <li><a href="#">USD – ABD Doları</a></li>
                                    <li><a href="#">EUR – Euro</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div id="menu" class="text-left ">
                        <ul class="offcanvas_main_menu">
                            <li class="menu-item-has-children active">
                                <a href="#">Ana Sayfa</a>
                            </li>
                            @foreach (var item in Model)
                            {
                                <li class="menu-item-has-children active">
                                    <a href="/Product/Index?id=@item.CategoryID">@item.CategoryName</a>
                                </li>
                            }
                            <li class="menu-item-has-children">
                                <a href="#">Hesabım</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">Hakkımızda</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">Bizimle İletişime Geçin</a>
                            </li>
                        </ul>
                    </div>
                    <div class="Offcanvas_footer">
                        <span><a href="#"><i class="fa fa-envelope-o"></i> gokmen.ada@dirimtip.com.tr</a></span>
                        <ul>
                            <li class="facebook"><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>