@model List<ResultCommentDto>

@{
    ViewData["Title"] = "ProductComment";
    Layout = "~/Areas/Administrator/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
        <h1 class="page-title fw-semibold fs-18 mb-0">Ürün Yorumları</h1>
        <div class="ms-md-1 ms-0">
            <nav>
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Ürünler</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Ürün Yorumları</li>
                </ol>
            </nav>
        </div>
    </div>

    <form method="post">
        <div class="row">
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-header justify-content-between">
                        <div class="card-title">
                            Ürün Yorumları
                        </div>
                        <div class="d-flex">
                            <a href="/Administrator/Product/CreateComment?id=@ViewBag.ProductID" class="btn btn-sm btn-primary btn-wave waves-light waves-effect waves-light"><i class="ri-add-line fw-semibold align-middle me-1"></i> Yorum Ekle</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table text-nowrap table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">Müşteri Adı-Soyadı</th>
                                        <th scope="col">Mail Adresi</th>
                                        <th scope="col">Yıldız Puanı</th>
                                        <th scope="col">Yorum</th>
                                        <th scope="col">Yorum Tarihi</th>
                                        <th scope="col">İşlemler</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td><a class="fw-semibold text-primary">@item.NameSurname</a></td>
                                            <td>@item.Email</td>
                                            <td>@item.Rating</td>
                                            <td>
                                                @{
                                                    var comment = item.Comment.Length > 100 ? item.Comment.Substring(0, 100) + "..." : item.Comment;
                                                    @comment
                                                }
                                            </td>
                                            <td>@Convert.ToDateTime(item.CommentDate).ToString("dd.MM.yyyy")</td>
                                            <td><a href="/Administrator/Product/UpdateComment?id=@item.UserCommentID" class="btn btn-primary-light btn-icon btn-sm"><i class="ri-edit-2-line"></i></a> <a href="/Administrator/Product/DeleteComment?id=@item.UserCommentID" class="btn btn-danger-light btn-icon btn-sm"><i class="ri-delete-bin-line"></i></a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

