@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@await Component.InvokeAsync("Slider")

@await Component.InvokeAsync("Banner")

@await Component.InvokeAsync("Bestsellers")

<section class="banner_fullwidth">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12">
                <div class="banner_text">
                    <p>Tüm Ürünlerde %20 İndirim</p>
                    <h2>Yeni Trend Koleksiyon</h2>
                    <span>İyi Tasarımın Her Zaman Sezonunda Olduğuna İnanıyoruz</span>
                    <a href="#">Şimdi Satın Al</a>
                </div>
            </div>
        </div>
    </div>
</section>

@await Component.InvokeAsync("Newsletter")

