@model FooterViewModel

<footer class="footer_widgets footer_other">
    <div class="container">
        <div class="footer_top">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="widgets_container contact_us">
                        <h3>Monsta Jewelry</h3>
                        <div class="footer_contact">
                            <p>Adres: 1064, Ankara, Türkiye</p>
                            <p>Telefon: <a href="tel:05005000000">+90 500 500 00 00</a></p>
                            <p>E-Posta: gokmen.ada@dirimtip.com.tr</p>
                            <ul>
                                <li><a href="https://instagram.com/gkmnada"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="https://x.com/gkmnada"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://tr.linkedin.com/in/g%C3%B6kmen-ada-b79b07219"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-4 col-6">
                    <div class="widgets_container widget_menu">
                        <h3>Bilgi</h3>
                        <div class="footer_menu">
                            <ul>
                                <li><a href="#">Hakkımızda</a></li>
                                <li><a href="#">İletişim</a></li>
                                <li><a href="#">Mağaza</a></li>
                                <li><a href="#">Gizlilik Politikası</a></li>
                                <li><a href="#">Sıkça Sorulan Sorular</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-5 col-6">
                    <div class="widgets_container widget_menu">
                        <h3>Hesabım</h3>
                        <div class="footer_menu">
                            <ul>
                                <li><a href="/Account/Index">Hesabım</a></li>
                                <li><a href="#">İstek Listem</a></li>
                                <li><a href="/Basket/Index">Sepetim</a></li>
                                <li><a href="#">Ödeme</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-7">
                    <div class="widgets_container product_widget">
                        <h3>Sizin İçin Seçtiklerimiz</h3>
                        <div class="simple_product">
                            @foreach (var item in Model.ResultFooterWithCategoryDto)
                            {
                                <div class="simple_product_items">
                                    <div class="simple_product_thumb">
                                        <a href="/Product/ProductDetail?id=@item.ProductID&code=@item.CouponCode"><img src="@item.ProductImage" alt=""></a>
                                    </div>
                                    <div class="simple_product_content">
                                        <div class="tag_cate">
                                            <a href="/Product/Index?id=@item.CategoryID">@item.Category.CategoryName</a>
                                        </div>
                                        <div class="product_name">
                                            <h3><a href="/Product/ProductDetail?id=@item.ProductID&code=@item.CouponCode">@item.ProductName</a></h3>
                                        </div>
                                        <div class="product_price">
                                            <span class="old_price">₺@item.ProductPrice</span>
                                            <span class="current_price">₺@item.DiscountPrice</span>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_middel">
            <div class="row">
                <div class="col-12">
                    <div class="footer_middel_menu">
                        <ul>
                            <li><a asp-controller="Home" asp-action="Index">Ana Sayfa</a></li>
                            @foreach (var item in Model.ResultCategoryDto)
                            {
                                <li><a href="/Product/Index?id=@item.CategoryID">@item.CategoryName</a></li>
                            }
                            <li><a href="#">Hakkımızda</a></li>
                            <li><a asp-controller="Contact" asp-action="Index">İletişim</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bottom">
            <div class="row">
                <div class="col-12">
                    <div class="copyright_area">
                        <p>&copy; 2024 Monsta Jewelry. Tüm Hakları Saklıdır. <a href="#">Gökmen Ada</a> tarafından tasarlandı.</p>
                        <img src="/assets/img/icon/papyel2.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>