@model List<ResultCategoryDto>

<footer class="footer_widgets">
    <div class="container">
        <div class="footer_top">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="widgets_container contact_us">
                        <h3>Monsta Jewelry</h3>
                        <div class="footer_contact">
                            <p>Adres: 1064, Ankara, Türkiye</p>
                            <p>Telefon: <a href="tel:050050000">+90 500 500 00 00</a></p>
                            <p>E-Posta: gokmen.ada@dirimtip.com.tr</p>
                            <ul>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-4 col-6">
                    <div class="widgets_container widget_menu">
                        <h3>Bilgi</h3>
                        <div class="footer_menu">
                            <ul>
                                <li><a href="#">Hakkımızda</a></li>
                                <li><a href="#">İletişim</a></li>
                                <li><a href="#">Mağaza</a></li>
                                <li><a href="#">Gizlilik Politikası</a></li>
                                <li><a href="#">Sıkça Sorulan Sorular</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-5 col-6">
                    <div class="widgets_container widget_menu">
                        <h3>Hesabım</h3>
                        <div class="footer_menu">
                            <ul>
                                <li><a href="#">Hesabım</a></li>
                                <li><a href="#">İstek Listem</a></li>
                                <li><a href="#">Sepetim</a></li>
                                <li><a href="#">Ödeme</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-7">
                    <div class="widgets_container product_widget">
                        <h3>Çok Satan Ürünler</h3>
                        <div class="simple_product">
                            <div class="simple_product_items">
                                <div class="simple_product_thumb">
                                    <a href="#"><img src="/assets/img/product/product5.webp" alt=""></a>
                                </div>
                                <div class="simple_product_content">
                                    <div class="tag_cate">
                                        <a href="#">Yüzük</a>
                                    </div>
                                    <div class="product_name">
                                        <h3><a href="#">Sonsuzluk Yüzüğü</a></h3>
                                    </div>
                                    <div class="product_price">
                                        <span class="old_price">₺860,00</span>
                                        <span class="current_price">₺700,00</span>
                                    </div>
                                </div>
                            </div>
                            <div class="simple_product_items">
                                <div class="simple_product_thumb">
                                    <a href="#"><img src="/assets/img/product/product6.webp" alt=""></a>
                                </div>
                                <div class="simple_product_content">
                                    <div class="tag_cate">
                                        <a href="#">Yüzük</a>
                                    </div>
                                    <div class="product_name">
                                        <h3><a href="#">Tek Taş Yüzük</a></h3>
                                    </div>
                                    <div class="product_price">
                                        <span class="old_price">₺740,00</span>
                                        <span class="current_price">₺690,00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_middel">
            <div class="row">
                <div class="col-12">
                    <div class="footer_middel_menu">
                        <ul>
                            <li><a href="#">Ana Sayfa</a></li>
                            @foreach (var item in Model)
                            {
                                <li><a href="/Product/Index?id=@item.CategoryID">@item.CategoryName</a></li>
                            }
                            <li><a href="#">Hakkımızda</a></li>
                            <li><a href="#">İletişim</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bottom">
            <div class="row">
                <div class="col-12">
                    <div class="copyright_area">
                        <p>&copy; 2024 Monsta Jewelry. Tüm Hakları Saklıdır. <a href="#">Gökmen Ada</a> tarafından tasarlandı.</p>
                        <img src="/assets/img/icon/papyel2.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>