<aside class="app-sidebar sticky" id="sidebar">
    <div class="main-sidebar-header">
        <a asp-controller="Home" asp-action="Index" asp-area="Administrator" class="header-logo">
            <img src="@Url.Content("~/assets/img/logo/logo-dark.png")" alt="logo" class="desktop-logo">
            <img src="@Url.Content("~/assets/img/logo/logo-light.png")" alt="logo" class="desktop-dark">
            <img src="@Url.Content("~/assets/img/logo/logo-dark.png")" alt="logo" class="desktop-white">
        </a>
    </div>
    <div class="main-sidebar" id="sidebar-scroll">
        <nav class="main-menu-container nav nav-pills flex-column sub-open">
            <div class="slide-left" id="slide-left">
                <svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24"> <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"></path> </svg>
            </div>
            <ul class="main-menu">
                <li class="slide__category"><span class="category-name">Ana Sayfa</span></li>
                <li class="slide">
                    <a asp-controller="Home" asp-action="Index" asp-area="Administrator" class="side-menu__item">
                        <i class="bx bx-home side-menu__icon"></i>
                        <span class="side-menu__label">
                            Gösterge Paneli
                            <span class="badge bg-secondary-transparent ms-2">Yakında</span>
                        </span>
                    </a>
                </li>
            </ul>
            <div class="slide-right" id="slide-right"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24"> <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path> </svg></div>
        </nav>
    </div>
</aside>