<div class="shop_toolbar">
    <div class="list_button">
        <ul class="nav" role="tablist">
            <li>
                <a class="active" data-bs-toggle="tab" href="#large" role="tab" aria-controls="large" aria-selected="true"><i class="ion-grid"></i></a>
            </li>
        </ul>
    </div>
    <div class="orderby_wrapper">
        <h3>Sırala : </h3>
        <div class=" niceselect_option">
            <div class="select_option" action="#">
                <select name="orderby" id="short">
                    <option>Yeni Gelenler</option>
                    <option>En Çok Satanlar</option>
                    <option>En Yüksek Fiyat</option>
                    <option>En Düşük Fiyat</option>
                    <option>Ürün Adına Göre: A-Z</option>
                    <option>Ürün Adına Göre: Z-A</option>
                </select>
            </div>
        </div>
        <div class="page_amount">
            <p></p>
        </div>
    </div>
</div>